:root {
	--bg-color:             #fafbfd;
	--img-bg-color:         #dce9ef;
	--tray-bg-color:        #f8faf3;
	--main-text-color:      #001a1c;
	--secondary-text-color: #135c27;
	--main-rule-color:      #001a1c;
	--secondary-rule-color: #78a85d;
	--highlight-color:      #8bb0ba;
}
